.btn{
	border: 0;
	padding: .25em .5em;
	font-size: .9rem;
	cursor: pointer;
	font-family: $sansSerif;
}

.primary-btn{
	padding: .5em;
	background-color: $highlight;
	color: white;
	text-align: center;
}

.create-story-btn{
	float: right;
}

.delete-story-btn{
	float: right;
}

.read-more-btn{
	float: right;
}

.twitter-login-link{
	color: white;
	background-color: $blue;
	display: block;
	text-align: center;
	font-size: 1.2rem;
}

.tweet-btn{
	background-color: $blue;
	position: absolute;
	top: 1rem;
	left: 50%;
	@include translateX(-50%);
}