.btn{
	border: 0;
	padding: .25em .5em;
	font-size: .9rem;
	cursor: pointer;
	font-family: $sansSerif;
}

.primary-btn{
	padding: .5em;
	background-color: $highlight;
	color: white;
	text-align: center;
}

.create-story-btn{
	font-size: 1.2rem;
	margin-top: 2rem;
	display: block;
	border-bottom: 5px solid darken($highlight, 10%);
	@include transition(all 300ms ease-out);

	&:hover{
		@include translateY(-2px);
		border-bottom: 10px solid darken($highlight, 10%);
	}
}

.delete-story-btn{
	float: right;
}

.read-more-btn{
	float: right;
}

.twitter-icon{
	position: relative;
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 10px;
	padding-top: 3px;

	@media #{$mobile}{
		height: 20px;
		width: 20px;
		top: 2px;
	}
}

.twitter-login-link{
	color: white;
	background-color: $blue;
	text-align: center;
	font-size: .8rem;
	line-height: 1.6rem;
	padding: .25rem .5rem;
	height: 40px;
	width: 100px;
	display: block;
	margin: 0 auto;
	border-bottom: 3px solid darken($blue, 20%);

	@media #{$mobile}{
		height: 30px;
		line-height: 1.3rem;
		width: 80px;
	}
}

.tweet-btn{
	background-color: $blue;
	position: absolute;
	bottom: 0rem;
	left: 50%;
	@include translateX(-50%);
}

.regenerate-btn{
	text-align: center;
	display: block;
}

.about-btn{
	position: fixed;
	bottom: 0;
	right: 0;
}

.close-btn{
	position: absolute;
	right: 0;
	background-color: transparent;
	color: white;
	top: 50%;
	@include translateY(-50%);
}