.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-bottom: 3px solid $highlight;
	background-color: white;
	@include legacy-pie-clearfix;
	@include transition(all 300ms ease-out);
}

.logo{
	height: 40px;
	top: 0;
	position: absolute;
	display: block;
	padding: 5px;

	img{
		height: 100%;
	}
}

.header-link{
	float: right;
	color: $highlight;
	font-size: .9rem;
	line-height: 2rem;
	margin-right: 1rem;
}

.dashboard-header{
	padding: 2rem 0rem;
	@include legacy-pie-clearfix;
}

.header-title{
	float: left;
}

.application.with-account{
	.header{
		@include translateY(40px);
	}
	.arrow{
		@include rotate(180deg);
	}
}

.account{
	position: absolute;
	width: 100%;
	height: 40px;
	top: -40px;
	left: 0;
	background-color: $highlight;

	.nav-links{
		padding-top: 0;
	}
}

.account-links{
	a{
		line-height: 1.8rem;
		color: white;
	}
}

.account-link{
	float: right;
	margin-right: 1rem;
}

.arrow{
	display: inline-block;
	@include transform-origin(50%, 55%);
}