.errors{
	z-index: 900;
}

.modal{
	z-index: 850;
}

.header, .about-btn, .about-section{
	z-index: 800;
}

.profile-image{
	z-index: 750;
}

.story-date, .story-voting{
	z-index: 700;
}

.main-section{
	z-index: 600;
}

.welcome-section{
	z-index: 500;
}