<template name="changePasswordModal">
	<div class="modal">
		<div class="modal-inner">
			<p>Change Password</p>

			<form name="change-password-form" class="change-password-form">
				{{> formField type="password" name="old-password" placeholder="current password" classes="login-field" }}
				{{> formField type="password" name="password" placeholder="password" classes="login-field" }}
				{{> formField type="password" name="password-confirm" placeholder="verify-password" classes="login-field" }}
				{{> formField type="submit" classes="btn login-btn" value="Change Password"}}
			</form>
		</div>
	</div>
</template>