<template name="login">
	<div class="form-wrapper">
		<form name="{{#if registerPage}}register-form{{else}}login-form{{/if}}" class="{{#if registerPage}}register-form{{else}}login-form{{/if}}">

			{{#if registerPage}}
				<h3 class="strong purple">Register</h3>
			{{else}}
				<h3 class="strong purple">Login</h3>
			{{/if}}

			{{#if registerPage}}
				{{> formField type="email" name="email" placeholder="email" }}
			{{/if}}

			{{> formField type="text" name="username" placeholder="username" classes="login-field" }}

			{{> formField type="password" name="password" placeholder="password" classes="login-field" }}

			{{#if registerPage}}
				{{> formField type="password" name="password-confirm" placeholder="verify-password" classes="login-field" }}
			{{/if}}


			{{#if registerPage}}
				{{> formField type="submit" classes="btn register-btn" value="Register"}}
			{{else}}
				{{> formField type="submit" classes="btn login-btn" value="Login"}}
				
				<div class="form-control">
					<a href="#" class="btn twitter-login-link login-btn">Login With Twitter</a>
				</div>

				<a href="#" class="register-link">No account? Register.</a>
				<a href="#" class="forgot-password-link">Forgot password?</a>
			{{/if}}
		</form>

		{{#if forgotPassword}}
			<form name="forgot-password-form" class="forgot-password-form">
				{{> formField type="email" name="email" placeholder="email" classes="login-field" }}
				{{> formField type="submit" classes="btn login-btn" value="Send Password"}}
			</form>
		{{/if}}
	</div>
</template>
