<template name="resetPasswordModal">
	<div class="modal">
		<div class="modal-inner">
			<p>Reset Password</p>

			<form name="reset-password-form" class="reset-password-form">
				{{> formField type="password" name="password" placeholder="password" classes="login-field" }}
				{{> formField type="password" name="password-confirm" placeholder="verify-password" classes="login-field" }}
				{{> formField type="submit" classes="btn login-btn" value="Reset Password"}}
			</form>
		</div>
	</div>
</template>