<template name="storySingle">
	<div class="story-header off-page">
			{{#if author}}
				{{{editable "title"}}}
			{{else}}
				<div class="story-title">
					{{{title}}}
				</div>
			{{/if}}
			<p class="story-title story-author">- by {{authorName}}</p>
		<a href="#" target="_blank" class="btn primary-btn tweet-btn">{{>twitterIcon}} Tweet This</a>
	</div>

	<div class="story-body">
		<div class="wrapper story-wrapper">
			<div class="emoji-string">
				{{#each emojis}}
					<span class="emoji">{{#emojione}}{{shortname}}{{/emojione}}</span>
				{{/each}}
				<br>
			</div>

			{{#if author}}
				{{#unless published}}
				<a href="#" class="btn regenerate-btn">Give me new emojis, plz. </a>
				{{/unless}}
			{{/if}}


			
			{{#if author}}
				{{{editable "text"}}}
			{{else}}
				<div class="story-text">
					{{{text}}}
				</div>
			{{/if}}

			<div class="story-save">
				{{#if author}}	
					{{#if published}}
						<a href="#" class="btn primary-btn save-story-btn">Save</a>
						<a href="#" class="btn unpublish-story-btn">Unpublish</a>
					{{else}}
						<a href="#" class="btn primary-btn  publish-story-btn">Publish</a>
						<a href="#" class="btn save-story-btn">Save As Draft</a>
					{{/if}}
						<a href="#" class="btn primary-btn delete-story-btn">Delete</a>
				
				{{/if}}
			</div>
		</div>
	</div>
</template>