<template name="storySingle">
	<div class="story-header off-page">
		<div class="wrapper">
			{{#if author}}
				{{{editable "title"}}}
			{{else}}
				<div class="story-title">
					{{{title}}}
				</div>
			{{/if}}
			<p class="story-title story-author">- by {{authorName}}</p>
		</div>
	</div>

	<div class="story-body">
		<div class="wrapper story-wrapper">
			<div class="emoji-string">
				{{#each emojis}}
					<span class="emoji">{{#emojione}}{{shortname}}{{/emojione}}</span>
				{{/each}}
			</div>
			
			{{#if author}}
				{{{editable "text"}}}
			{{else}}
				<div class="story-text">
					{{{text}}}
				</div>
			{{/if}}

			{{#if author}}
				<div class="story-save">
					{{#if published}}
						<a href="#" class="btn primary-btn save-story-btn">Save</a>
						<a href="#" class="btn unpublish-story-btn">Unpublish</a>
					{{else}}
						<a href="#" class="btn primary-btn  publish-story-btn">Publish</a>
						<a href="#" class="btn save-story-btn">Save As Draft</a>
					{{/if}}
						<a href="#" class="btn primary-btn delete-story-btn">Delete</a>
				</div>
			{{/if}}
		</div>
	</div>
</template>