<template name="storyList">

	{{#if noUser}}
	<section class="welcome-section main-section">
		<div class="wrapper">
			<header class="welcome-header">
				<h2 class="welcome-title strong">Welcome To Emojinate</h2>
				<p>Where emojinations run wild</p>
				<p class="random-emojis">
					{{#each randomEmojis}}
						<span class="emoji">{{#emojione}}{{this.shortname}}{{/emojione}}</span>
					{{/each}}
				</p>
			</header>

			<div class="welcome-text">
				<div class="wrapper story-wrapper">
					<p>Emojinate is a story/blogging platform that gives you a string of 5 random emojis that you craft a musing around. Start by reading a couple examples.</p>
					<p>If you like what you see, then</p>
					<a href="#" class="btn twitter-login-link">{{>twitterIcon}}Login</a>
				</div>
			</div>
		</div>
	</section>
	{{/if}}

	<section class="story-list-section main-section {{#if currentUser}}with-user{{/if}}">

		<header class="hero-header">
			<div class="wrapper story-wrapper">
				<h4 class="hero-title strong">Recent Emojinations</h4>
				<button class="btn primary-btn sort-btn sort-score-btn">Sort By Score</button>
				<button class="btn primary-btn sort-btn sort-date-btn">Sort By Date</button>
			</div>
		</header>

		<div class="story-list">
			<div class="wrapper story-wrapper">
				{{#if this}}
					<div class="user-stories">
						{{#each this}}
							{{>storyListExcerpt}}
						{{/each}}
					</div>
				{{else}}
					<p>There are no recent deepmojis.</p>
				{{/if}}
			</div>
		</div>
	</section>
</template>

<template name="storyListExcerpt">
	<div class="user-story excerpt off-page">
		<div class="story-header">
			<p class="story-title">
				<a class="story-link strong transition-link" href="{{pathFor route='storySingle'}}">{{{title}}}</a>
			</p>
			<p class="story-author">- by <a href="/{{authorName}}" class="strong transition-link">{{authorName}}</a></p>

		</div>
		<div class="story-date">
			<p>{{publishedOnDate}},</p>
			<p>{{publishedOnYear}}</p>
		</div>
		<div class="story-voting {{upvoted}}">
			<a href="#" class="up-vote-btn white"></a>
			<p>{{score}}</p>
		</div>
		<p class="emoji-string">
			{{#each emojis}}
				<span class="emoji">{{#emojione}}{{this.shortname}}{{/emojione}}</span>
			{{/each}}
		</p>
		<p class="story-text">"{{{textExcerpt}}}"</p>
	</div>
</template>