<template name="userStories">
	<header class="hero-header">
		<div class="wrapper story-wrapper">
			<h4 class="hero-title strong">{{username}}'s Stories</h4>
			<button class="btn primary-btn sort-btn sort-score-btn">Sort By Score</button>
			<button class="btn primary-btn sort-btn sort-date-btn">Sort By Date</button>
		</div>
	</header>
	<div class="wrapper story-wrapper">
		{{#if stories}}
			<div class="user-stories">
				{{#each stories}}
					{{>storyListExcerpt}}
				{{/each}}
			</div>
		{{else}}
			<p>This person has not created any user stories.</p>
		{{/if}}
	</div>
</template>